.forceWhite {
  color: #f0f0f0 !important;
}
.view-thumb{
    width:200px; height:auto;
}

.thumb-image-grid{
    width:100px; height:auto;
}
.mini-thumb-image-grid{
    width:40px; height:auto;

}
.errorSummary >ul >li {
    color:#f20d0d;
}

.imgicon{
    height: 40px;
    width: auto;
}

.thumb-list{
    padding: 3px;
  border: 1px #aaaaaa solid;
    width:40px; height:auto;
    display: inline;
    margin:2px 5px 2px 0px;
}


.thumb-list100{
    padding: 3px;
    border: 1px #aaaaaa solid;
    width:auto; height:100px;
    display: inline;
    margin:2px 5px 2px 0px;
}



