Options -Indexes
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^http://(www\.)?192.168.33.10 [NC]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?192.168.33.10.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?104.131.202.24 [NC]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?104.131.202.24.*$ [NC]
RewriteRule \.(ico|pdf|flv|jpg|jpeg|mp3|mpg|mp4|mov|wav|wmv|png|gif|swf|css|js)$ http://%{HTTP_HOST}/admin
